@mixin gr-create($unit, $between, $extr, $breakpoint: "", $required: false) {
  @if $breakpoint=="" {
    .gr-#{$unit}-#{$between} {
      margin: #{$between}px;
      width: calc((100% - #{$extr}) / (#{$gridBoundary} / #{$unit}));
    }
  }

  @else {
    .gr-#{$unit}-#{$between}-#{$breakpoint} {
      margin: #{$between}px;
      width: calc((100% - #{$extr}) / (#{$gridBoundary} / #{$unit}));
    }
  }
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}