@each $key, $value in $mp-key {
  @for $i from 1 through length($mp) {
    @if $value == "mp" {
      .mx-#{$i} {
        margin-left: #{nth($mp, $i)}px;
        margin-right: #{nth($mp, $i)}px;
      }
    
      .my-#{$i} {
        margin-top: #{nth($mp, $i)}px;
        margin-bottom: #{nth($mp, $i)}px;
      }

      .px-#{$i} {
        padding-left: #{nth($mp, $i)}px;
        padding-right: #{nth($mp, $i)}px;
      }
    
      .py-#{$i} {
        padding-top: #{nth($mp, $i)}px;
        padding-bottom: #{nth($mp, $i)}px;
      }
    }
    
    @else {
      .#{$value}-#{$i} {
        #{$key}: #{nth($mp, $i)}px;
      }
    }
  }
}